<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="./css/style.css">
    <title><%= title %></title>
</head>
<body>
    <div class="cent"><%- include('header.ejs') %></div>
    <div class="my-6 mx-10">
        <div>
            <% if (messages.success) { %>
                <p class="bg-orange-200 m-3 list-none rounded-md px-4 py-2"><%= messages.success %></p>
            <% } %>
        </div>
        <div>
            <% if (messages && messages.error && messages.error.length > 0) { %>
                <% for(var i=0; i<messages.error.length; i++) { %>
                    <p class="bg-orange-200 my-3 list-none rounded-md px-4 py-2"><%= messages.error[i] %></p>
                <% } %>
            <% } %>
        </div>
        <div class="relative flex min-h-screen flex-col justify-center overflow-hidden py-6">
        <div class="mt-4 shadow-md rounded-lg text-center mx-auto">
            <form action="/election" method="post" class="px-8 py-6">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                <label for="elecName" class="block mt-3 font-semibold">Enter your election's name</label>
                <input id="elecName" name="elecName" type="text" placeholder="Election name" class="border w-full h-5 px-3 py-5 mt-2  focus:ring-orange-500 rounded-md" required>
                <label for="cstmUrl" class="block mt-3 font-semibold">Enter a custom URL (With no spaces)</label>
                <input id="cstmUrl" name="cstmUrl" type="text" placeholder="Election URL String" class="border w-full h-5 px-3 py-5 mt-2  focus:ring-orange-500 rounded-md" required>
                <button type="submit" class="bg-orange-400 text-center rounded w-fit px-2 py-1 hover:bg-green-600 justify-center mx-auto text-center ">Create</button>
            </form>
        </div>
        </div>
    </div>
</body>
</html>